
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer text-dark">
            <div class="copyright">
                <p>Bản quyền © Được thiết kế &amp; Phát triển bởi <a href="#" target="_blank">KTCN - 403A</a> 2021</p>
                <p>Phân phối bởi <a href="" target="_blank">KTCN - 403A</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->