<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Thêm ảnh </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Header start
        ***********************************-->
        <%- include('layout/header'); %>
        <!--**********************************
            Header end
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->

        <%- include('layout/sidebar'); %>
        
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body ">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Thêm thông tin</h4>
                            <p class="mb-1">Thêm thông tin</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Người dùng</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Thêm thông tin</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="form-group text-dark">
                    <h2  style="text-align: center;">VUI LÒNG ĐIỀN ĐẦY ĐỦ THÔNG TIN ĐỂ SỬ DỤNG CHỨC NĂNG CỦA HỆ THỐNG!</h2><br>
                </div>
                <form class="form-valide text-dark " action="" method="POST" enctype="multipart/form-data">
                    <div class="row justify-content-center">                        
                        <div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-hoten">Họ và tên
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-hoten" name="hoten" placeholder="" required>
                                </div>
                            </div>
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-diachi">Địa chỉ
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-diachi" name="diachi" placeholder="" required>
                                </div>
                            </div>
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-cmnd">Số CMND
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-cmnd" name="cmnd" placeholder="" required>
                                </div>
                            </div>
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-sdt">Số điện thoại
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-sdt" name="sdt" placeholder="" required>
                                </div>
                            </div>
                        
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-email">Email
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control" id="val-email" name="email" placeholder="abc@gmail.com" required>
                                </div>
                            </div>
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-bhyt">Số bảo hiểm y tế
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-bhyt" name="bhyt" placeholder="" required>
                                </div>
                            </div>
                        </div><div class="col-xl-8">                                                      
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-tsbl">Tiền sử bệnh
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-tsbl" name="tsbl" placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <br><div class="form-group row">
                        <div class="col-lg-8 ml-auto">
                            <button type="submit" class="btn btn-primary" style="width: 5cm;" >Gửi thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('layout/footer'); %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    <script src="/js/custom.min.js"></script>
    



    <!-- Jquery Validation -->
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/js/plugins-init/jquery.validate-init.js"></script>
</body>

</html>